.new-expense {
  background-color: #2b2d42;
  color: #fff;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #3a85ff;
  background-color: #3a85ff;
  font-weight: 600;
  color: #fff;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  color: #14213d;
  background-color: #fff;
  border-color: #fff;
}

.new-expense button.alternative {
  color: #14213d;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #fff;
}
